<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>FormNewMovie</title>
    <link rel="stylesheet" href="/css/form_style.css" type="text/css"/>
</head>
<body>
    <form class="container" th:action="@{/admin/addedMovie}" method="POST" th:object="${movie}">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="errorMessage" th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
        </div>

        <label for="titolo">Titolo:</label>
        <input id="titolo" required type="text" th:field="${movie.title}" maxlength="255"/>
        <span class="errorMessage" th:if="${#fields.hasErrors('title')}" th:errors="${movie.title}"></span>


        <label for="anno">Anno:</label>
        <input id="anno" required type="text" th:field="${movie.year}" maxlength="255"/>
        <span class="errorMessage" th:if="${#fields.hasErrors('year')}" th:errors="${movie.year}"></span>

        <label for="dirName">Regista (nome):</label>
        <input id="dirName" required type="text" th:field="${movie.director.name}"/>

        <label for="dirSurname">Regista (cognome):</label>
        <input id="dirSurname" required type="text" th:field="${movie.director.surname}"/>

        <label for="img">URL immagine:</label>
        <input id="img" type="url" th:field="${movie.urlImage}" maxlength="255"/>

        <button type="submit" class="bottone">Inserisci</button>
    </form>
</body>
</html>