html,
body {
    margin: 5px;
    padding: 5px;
}

body {
    height: 100vh;
    width: 100vw;
    background: #0A0A0A;
}

* {
    font-family: Rockwell, sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 35pt;
    color: #637c54;
    margin: auto;
}

a:link, a:visited{
    color: #637c54;
    text-decoration: none;
    margin: auto;
}

a:hover{
    margin: auto;
    text-decoration: underline;
}

.info {
    color: white;
    margin: auto;
}

.bottone {
    width: 200px;
    height: 50px;
    background-color: #0e4b50;
    color: white;
    cursor: pointer;
    horiz-align: center;
    column-span: 2;
    font-size: 20pt;
    border-radius: 5px;
}

.bottone:hover {
    background-color: #2d8f85;
}

.container {
    width: 50%;
    height: 50%;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: repeat(4, 60px);
    grid-gap: 10px;
    align-items: center;
}

label {
    grid-column: 1;
    text-align: left;
    font-size: 20pt;
    color: white;
}

input {
    grid-column: 2;
    border-radius: 5px;
    font-size: 20pt;
    color: white;
}