html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background:  #0A0A0A;
}

* {
    font-family: Tahoma, sans-serif;
    box-sizing: border-box;
}

.container {
    display: grid;
    place-content: center;
    justify-items: center;
    grid-gap: 4rem;
    width: 100%;
    height: 100%;
}

.wrapperbox {
    border: 4px solid #0e4b50;
    border-radius: 15px;
}

h1 {
    margin: 2rem 4rem;
    font-size: 40pt;
    text-decoration: none;
    color: #637c54;
}

.container-operazioni {
    display: grid;
    grid-row-gap: 1rem;
    grid-template-rows: min-content;
    font-size: 20pt;
}

.operazione {
    /* per mettere il testo al centro della box */
    display: flex;
    justify-content: center;
    align-items: center;

    border: 4px solid transparent;
    border-radius: 15px;
    padding: 8px;
    transition: all 300ms ease-in-out;
}

.operazione:hover {
    border: 4px solid #0e4b50;
    background-color: #2d8f85;
}

a:link, a:visited{
    color: #0e4b50;
    text-decoration: none;
}

a:hover{
    color: #0e4b50;
    text-decoration: underline;
    transition: color 200ms ease-in-out;
}