:root {
    --space-3xs: clamp(0.25rem, calc(0.13rem + 0.30vw), 0.50rem);
    --space-2xs: clamp(0.50rem, calc(0.29rem + 0.52vw), 0.94rem);
    --space-xs: clamp(0.75rem, calc(0.42rem + 0.82vw), 1.44rem);
    --space-s: clamp(1.00rem, calc(0.58rem + 1.04vw), 1.88rem);
    --space-m: clamp(1.50rem, calc(0.87rem + 1.57vw), 2.81rem);
    --space-l: clamp(2.00rem, calc(1.16rem + 2.09vw), 3.75rem);
    --space-xl: clamp(3.00rem, calc(1.75rem + 3.13vw), 5.63rem);
    --space-2xl: clamp(4.00rem, calc(2.33rem + 4.18vw), 7.50rem);
    --space-3xl: clamp(6.00rem, calc(3.49rem + 6.27vw), 11.25rem);

    --space-s-l: clamp(1.00rem, calc(-0.31rem + 3.28vw), 3.75rem);

    --grid-max-width: 75rem;
    --grid-gutter: var(--space-s-l, clamp(1.00rem, calc(-0.44rem + 3.61vw), 3.75rem));
    --mygrid-gutter: clamp(1rem, calc(3vw + 0.5rem), 2rem);
    --grid-columns: 12;

    --clr-1: #0e4b50;
    --clr-2: #2d8f85;
    --clr-3: #637c54;
}

* {
    font-family: Rockwell, sans-serif;
}

body {
    background: #0A0A0A;
}

h1 {
    font-size: 35pt;
    margin: 2rem 0.5rem;
    color: var(--clr-2);
}

h2 {
    color: var(--clr-2);
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    font-size: 20pt;
    color: white;
}

li{
    margin: 0.5rem;
}

li::marker {
    vertical-align: center;
}

ul{
    list-style-type: circle;
    list-style-position: outside;
    color: white;
}

a:hover{
    border-radius: 5px;
    text-decoration: underline;
    background-color: #2d8f85;
    transition: background-color 150ms ease-out;
}

.actorinfo {
    font-size: 1.3rem;
}

#noMovies {
    color:white;
}