
/* FOR THE HEADER */
@import 'header-fragment.css';
/*//////////////////////////////*/

body {
    background: #0A0A0A;
    margin: 0;
    padding: 0;
}

* {
    font-family: Rockwell, sans-serif;
    box-sizing: border-box;
    color: white;
}

h1 {
    font-size: 35pt;
    color: #2d8f85;
    margin: 2rem 0.5rem;
}

a:link, a:visited{
    color: #2d8f85;
    text-decoration: none;
    font-style: italic;
}

a {
    font-size: 1.3rem;
}

a:hover{
    text-decoration: underline;
}

.bottone {
    width: 200px;
    height: 50px;
    background-color: #0e4b50;
    color: white;
    cursor: pointer;
    font-size: 20pt;
    border-radius: 5px;
    margin: 1rem 0.5rem;
}

.bottone:hover {
    background-color: #2d8f85;
}

.container {
    width: max(35%,450px);
    height: 50%;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px;
    grid-gap: 10px;
    align-items: center;
}

label {
    grid-column: 1;
    text-align: left;
    font-size: 20pt;
    color: white;
    margin: .5rem;
}

input {
    grid-column: 2;
    border-radius: 5px;
    font-size: 20pt;
    color: black;
    background-color: white;
    padding: .5rem;
    margin: .5rem;
}

select {
    height: 50px;
    font-size: inherit;
    width: fit-content;
    margin: .5rem;
    color: black;
    background-color: white;
    border-radius: 6px;
    padding: 0 1rem;
}

#image {
    font-size: inherit;
}

.errorMessage {
    color: white;
    font-size: 1.2rem;
    /*questo vuol dire che si estende dalla prima all'ultima colonna(-1)*/
    grid-column: 1/-1;
    margin: .5rem;
}

.noDirectors {
    color: white;
    font-size: 1.2rem;
    margin: .5rem;
    grid-column: 2;
}

.registration-info {
    font-size: 1.4rem;
    margin: 2.5rem;
}

.register {
    grid-column: 2;
    margin: 0.5rem;
    justify-self: end;
}

/*FOR MOBILE*/
@media only screen and (max-width: 570px) {
    /* For mobile phones: */
    label, input {
        display: block;
        grid-column: 1;
    }

    .container {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px;
        grid-gap: 10px;
        align-items: center;
    }

    .register {
        grid-column: 1;
        justify-self: start;
    }
}
/*//////////////////////////////*/

/*Cambia colore alle stelline quando sono premute, posso poi accedere al valore nel controller*/
/*PER LE RECENSIONI*/
.star-rating {
    display: flex;
    align-items: center;
}

/*nascondo i radio button*/
.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 30px;
    color: #ddd;
    cursor: pointer;
}

/*è più comodo se mettiamo qui il contenuto invece che nell'html*/
.star-rating label:before {
    content: "\2605";
}
/*//////////////////////////////*/