
/* FOR THE HEADER */
header {
    height: 3.5rem;
    width: 100%;
    background-color: #0e4b50;
    border-radius: 0px;
    margin-bottom: 0.5rem;
}

.headerElements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 0.5rem;
}

.whitespace {
    width: 1.5rem;
    display: inline-block;
    text-align: center;
    color: white;
    font-weight: bold;
}

#home1, #home2, #login, #username, #logout  {
    color: white;
    font-size: 1.3rem;
}
/*//////////////////////////////*/

body {
    background: #0A0A0A;
    margin: 0;
    padding: 0;
}

* {
    font-family: Rockwell, sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 35pt;
    color: #2d8f85;
    margin: .5rem;
}

a:link, a:visited{
    color: #2d8f85;
    text-decoration: none;
}

a {
    font-size: 1.3rem;
}

a:hover{
    text-decoration: underline;
}

.info {
    color: white;
    font-size: 1.3rem;
    margin: .5rem;
}

.bottone {
    width: 200px;
    height: 50px;
    background-color: #0e4b50;
    color: white;
    cursor: pointer;
    font-size: 20pt;
    border-radius: 5px;
    margin: 1rem 0.5rem;
}

.bottone:hover {
    background-color: #2d8f85;
}

.container {
    width: max(35%,450px);
    height: 50%;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px;
    grid-gap: 10px;
    align-items: center;
}

label {
    grid-column: 1;
    text-align: left;
    font-size: 20pt;
    color: white;
    margin: .5rem;
}

input {
    grid-column: 2;
    border-radius: 5px;
    font-size: 20pt;
    color: black;
    background-color: white;
    padding: .5rem;
    margin: .5rem;
}

select {
    height: 50px;
    font-size: inherit;
    width: fit-content;
    margin: .5rem;
}

#image {
    font-size: inherit;
}

.errorMessage {
    color: white;
    font-size: 1.2rem;
    /*questo vuol dire che si estende dalla prima all'ultima colonna(-1)*/
    grid-column: 1/-1;
}

.register {
    grid-column: 2;
    margin: 0.5rem;
    justify-self: end;
}

#labelCercaAnno {
    grid-column: 1/-1;
}

#inputCercaAnno {
    grid-column: 1/-1;
}

#bottoneCercaAnno {
    grid-column: 1/-1;
}

/*FOR MOBILE*/
@media only screen and (max-width: 570px) {
    /* For mobile phones: */
    label, input {
        display: block;
        grid-column: 1;
    }

    .container {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px;
        grid-gap: 10px;
        align-items: center;
    }

    .register {
        grid-column: 1;
        justify-self: start;
    }
}
/*//////////////////////////////*/