
/* FOR THE HEADER */
header {
    height: 3.5rem;
    width: 100%;
    background-color: #0e4b50;
    border-radius: 0;
    margin-bottom: 0.5rem;
}

.headerElements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 0.5rem;
}

.whitespace {
    width: 1.5rem;
    display: inline-block;
    text-align: center;
    color: white;
    font-weight: bold;
}

#home1, #home2, #login, #username, #logout  {
    color: white;
    font-size: 1.3rem;
    font-style: normal;
}
/*//////////////////////////////*/

body {
    background: #0A0A0A;
    margin: 0;
    padding: 0;
}

* {
    font-family: Rockwell, sans-serif;
    box-sizing: border-box;
}

img {
    width: min(90vw, 1000px);
    margin: 2rem;
}

h1 {
    margin: 2rem 4rem;
    font-size: 40pt;
    text-decoration: none;
    color: #637c54;
    text-align: center;
}

/*VECCHIO STILE*/

/*.container {*/
/*    display: grid;*/
/*    place-content: center;*/
/*    justify-items: center;*/
/*    grid-gap: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.wrapperbox {*/
/*    border: 4px solid #0e4b50;*/
/*    border-radius: 15px;*/
/*}*/

/*.container-operazioni {*/
/*    display: grid;*/
/*    grid-row-gap: 1rem;*/
/*    grid-template-rows: min-content;*/
/*    font-size: 20pt;*/
/*}*/

/*.operazione {*/
/*    !* per mettere il testo al centro della box *!*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*    border: 4px solid transparent;*/
/*    border-radius: 15px;*/
/*    padding: 8px;*/
/*    transition: all 300ms ease-in;*/
/*}*/

/*.operazione:hover {*/
/*    border: 4px solid #0e4b50;*/
/*    background-color: #2d8f85;*/
/*}*/

/*///////////////////////////////////////*/

/*NUOVO*/
.container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 2rem;
    border-radius: 3rem;
    background: #0e4b50;
}

p {
    font-size: 1.7rem;
    color: white;
    text-align: center;
    opacity: 0.7;
}

.carousel {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 1rem;
}

/* the carousel has to be 100% width but every element has to be clamp(150px, 15vw, 300px), flex basis is great*/
.carousel > span {
    flex-basis: clamp(150px, 15vw, 300px);
}

.card-info {
    color: white;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 0 1.5rem;
}

#movie-year {
    font-size: .8rem;
    color: #ccc;
    margin-top: -1rem;
    font-weight: normal;
}

.card {
    width: clamp(150px, 15vw, 300px);
    margin: 1.5rem;
    border-radius: 10px;
    transition: all ease-in-out 300ms;
}

.card:hover {
    cursor: pointer;
    transform: scale(110%);
    transition: all ease-in-out 300ms;
}

.carousel-title {
    color: white;
    margin: 0 1.5rem;
    font-size: 3.5rem;
}

.addElement {
    font-size: 2rem;
    font-style: italic;
    color: white;
}

.carousel-header {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
}

.searchInput {
    width: 200px;
    height: 40px;
    font-size: inherit;
    border-radius: 10px;
    background: transparent;
    border: white 2px solid;
    color: white;
    padding: 0 0.5rem;
}

/* to remove the outline when the input is focused, annoyingly blue */
.searchInput:focus {
    outline: none;
}

/*///////////////////*/

a:link, a:visited{
    color: #0e4b50;
    text-decoration: none;
}

a:hover{
    color: #0e4b50;
    text-decoration: underline;
    transition: color 200ms ease-in-out;
}

.emptyList {
    color: white;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}