
/* FOR THE HEADER */
header {
    height: 3.5rem;
    width: 100%;
    background-color: #0e4b50;
    border-radius: 0px;
    margin-bottom: 0.5rem;
}

.headerElements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 0.5rem;
}

.whitespace {
    width: 1.5rem;
    display: inline-block;
    text-align: center;
    color: white;
    font-weight: bold;
}

#home1, #home2, #login, #username, #logout  {
    color: white;
    font-size: 1.3rem;
    font-style: normal;
}
/*//////////////////////////////*/

body {
    background: #0A0A0A;
    margin: 0;
    padding: 0;
}

* {
    font-family: Rockwell, sans-serif;
    box-sizing: border-box;
}

.container {
    display: grid;
    place-content: center;
    justify-items: center;
    grid-gap: 0;
    width: 100%;
    height: 100%;
}

.wrapperbox {
    border: 4px solid #0e4b50;
    border-radius: 15px;
}

img {
    width: min(90vw, 1000px);
    margin: 2rem;
}

h1 {
    margin: 2rem 4rem;
    font-size: 40pt;
    text-decoration: none;
    color: #637c54;
    text-align: center;
}

.container-operazioni {
    display: grid;
    grid-row-gap: 1rem;
    grid-template-rows: min-content;
    font-size: 20pt;
}

.operazione {
    /* per mettere il testo al centro della box */
    display: flex;
    justify-content: center;
    align-items: center;

    border: 4px solid transparent;
    border-radius: 15px;
    padding: 8px;
    transition: all 300ms ease-in;
}

.operazione:hover {
    border: 4px solid #0e4b50;
    background-color: #2d8f85;
}

a:link, a:visited{
    color: #0e4b50;
    text-decoration: none;
}

a:hover{
    color: #0e4b50;
    text-decoration: underline;
    transition: color 200ms ease-in-out;
}