:root {
    --clr-1: #0e4b50;
    --clr-2: #2d8f85;
    --clr-3: #637c54;
}

/* FOR THE HEADER */
header {
    height: 3.5rem;
    width: 100%;
    background-color: #0e4b50;
    border-radius: 0;
    margin-bottom: 0.5rem;
}

.headerElements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 0.5rem;
}

.whitespace {
    width: 1.5rem;
    display: inline-block;
    text-align: center;
    color: white;
    font-weight: bold;
}

#home1, #home2, #login, #username, #logout  {
    color: white;
    font-size: 1.3rem;
}
/*//////////////////////////////*/

* {
    font-family: Rockwell, sans-serif;
}

body {
    background: #0A0A0A;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 35pt;
    margin: 2rem 0.5rem;
    color: var(--clr-2);
}

h2 {
    color: var(--clr-2);
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    font-size: 20pt;
    color: white;
}

li{
    margin: 0.5rem;
}

li::marker {
    vertical-align: center;
}

ul{
    list-style-type: circle;
    list-style-position: outside;
    color: white;
}

a:hover{
    border-radius: 5px;
    text-decoration: underline;
    background-color: #2d8f85;
    transition: background-color 150ms ease-out;
}

.actorinfo {
    font-size: 1.3rem;
}

.emptyList {
    color:white;
}