
/* FOR THE HEADER */
@import 'header-fragment.css';
/*//////////////////////////////*/

:root {
    --clr-1: #0e4b50;
    --clr-2: #2d8f85;
    --clr-3: #637c54;
}

* {
    font-family: Rockwell, sans-serif;
}

body {
    background: #0A0A0A;
    margin: 0;
    padding: 0;
}


.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--clr-1);
    color: white;
    margin: 2rem;
    border-radius: 3rem;
    row-gap: 2rem;
    padding: 2rem;
}

.profile-pic > img {
    object-fit: cover;
    border-radius: 50%;
    height: 10rem;
    aspect-ratio: 1;
}

.username {
    font-size: 2rem;
    font-weight: bold;
    margin-top: -1.5rem;
}
