:root {
    --clr-1: #0e4b50;
    --clr-2: #2d8f85;
    --clr-3: #637c54;
}

/* FOR THE HEADER */
header {
    height: 3.5rem;
    width: 100%;
    background-color: var(--clr-1);
    border-radius: 0;
    margin-bottom: 0.5rem;
}

.headerElements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 0.5rem;
}

.whitespace {
    width: 1.5rem;
    display: inline-block;
    text-align: center;
    color: white;
    font-weight: bold;
}

#home1, #home2, #login, #username, #logout  {
    color: white;
    font-size: 1.3rem;
}
/*//////////////////////////////*/

* {
    font-family: Rockwell, sans-serif;
}

body {
    background: #0A0A0A;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 55pt;
    color: var(--clr-2);
    margin: .5rem;
}

/* flex for the whole content */
.container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

/* flex for the movie info plus the reviews card*/
.card-plus-reviews-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap: 4rem;
    flex-wrap: wrap;
    margin: .5rem;
    row-gap: 2rem;
}

.reviews-container {
    width: 60%;
}

/* flex for the reviews card */
.reviews {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin: 0;
    padding: 0.5rem 2.5rem;
    border-radius: 1rem;
    border-color: var(--clr-1);
    background-color: var(--clr-2);
    overflow-y: scroll;
    row-gap: 1.5rem;
}

.review-info {
    display: flex;
    justify-content: space-between;
}

.review-info span {
    font-style: italic;
}

/* per levare il marker */
ul {
    list-style-type: none;
}

li {
    width: 100%;
}

.review > * {
    margin: .5rem;
}

#review-title {
    display: inline;
}

.new-review {
    background: var(--clr-2);
    color: white;
    border-radius: 4px;
    margin: 0 0.5rem 0.5rem 0.5rem;
    height: 1.5rem;
}

.delete-review {
    color: indianred;
    margin: .5rem;
}

.card {
    border-radius: 1rem;
    width: 30%;
    height: fit-content;
    position: relative;
    margin: 0.5rem;
}

img {
    border-radius: inherit;
}

.card::before,
.card::after {
    z-index: -1;
    content: "";
    position: absolute;
    inset: -.5rem;
    background: conic-gradient(
        from 0deg,
        var(--clr-1),
        var(--clr-2),
        var(--clr-3),
        var(--clr-2),
        var(--clr-1)
    );
    border-radius: inherit;
}

.card::after {
    filter: blur(3.5rem);
}

.info {
    font-size: 20pt;
    color: white;
    margin: .5rem;
}

a:link, a:visited{
    color: #0e4b50;
    text-decoration: none;
}

a:hover{
    color: #0e4b50;
    text-decoration: underline;
}

/*TO HANDLE STAR RATINGS*/
.star {
    color: #ccc;
    font-size: 1.5rem;
}

.fullStar {
    color: gold;
}
/*//////////////////////////////*/

/*FOR MOBILE*/
@media only screen and (max-width: 805px) {
    .reviews-container {
        width: 100%;
    }

    .review-header {
        display: flex;
        flex-direction: column;
    }

    #review-title {
        margin: 1rem 0 0.5rem 0;
    }

    .card {
        width: min(100%, 400px);
    }

    h1 {
        font-size: 2.5rem;
    }

    .info {
        font-size: 1.5rem;
    }
}
/*//////////////////////////////*/