:root {
    --clr-1: #0e4b50;
    --clr-2: #2d8f85;
    --clr-3: #637c54;
}

/* FOR THE HEADER */
header {
    height: 3.5rem;
    width: 100%;
    background-color: var(--clr-1);
    border-radius: 0;
    margin-bottom: 0.5rem;
}

.headerElements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 0.5rem;
}

.whitespace {
    width: 1.5rem;
    display: inline-block;
    text-align: center;
    color: white;
    font-weight: bold;
}

#home1, #home2, #login, #username, #logout  {
    color: white;
    font-size: 1.3rem;
    font-style: normal;
}
/*//////////////////////////////*/

* {
    font-family: Rockwell, sans-serif;
}

body {
    background: #0A0A0A;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.5rem;
    color: var(--clr-2);
    margin: .5rem;
}

a:link, a:visited{
    color: #0e4b50;
    text-decoration: none;
}

a:hover{
    color: #0e4b50;
    text-decoration: underline;
}

.info {
    font-size: 20pt;
    color: white;
    margin: .5rem;
}

#changeDirector {
    font-size: 1.5rem;
    font-style: italic;
    color: var(--clr-2);
}

#changeActors {
    font-size: 0.7em;
    margin-left: 1rem;
    font-style: italic;
}

/* flex for the whole content */
.container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

/* flex for the movie card plus the reviews card*/
.card-plus-reviews-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap: 4rem;
    margin: .5rem;
    row-gap: 2rem;
}


/*////////////  REVIEWS  /////////////////*/
.reviews-container {
    /*l'altezza è definita da js per fare in modo che sia uguale alla card*/
    height: 100%;
    width: 60vw;
    border-radius: 1rem;
    border: var(--clr-2) 3px solid;
    overflow: hidden;
    padding-bottom: .5rem;
}

.reviews-list-wrapper {
    height: 90%;
    overflow-y: scroll;
}

/* flex for the review cards */
.reviews {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin: 0;
    padding: 0.5rem 2.5rem;
    background-color: transparent;
    row-gap: 1.5rem;
    height: auto;
}

.reviews-container h1 {
    margin-left: 2.5rem;
}

.review-info {
    display: flex;
    justify-content: space-between;
}

.review-info span {
    font-style: italic;
    font-weight: bold;
    color: var(--clr-2);
}

/* per levare il marker */
ul {
    list-style-type: none;
}

li {
    width: 100%;
}

.review > * {
    margin: .5rem;
}

#review-title {
    display: inline;
    color: white;
}

#review-text {
    color: whitesmoke;
}

.new-review {
    background: transparent;
    border-radius: 4px;
    margin: 0 0.5rem 0.5rem 2.5rem;
    height: auto;
}

.new-review a {
    color: var(--clr-2);
}

#delete-review {
    color: indianred;
    margin: .5rem;
}

#noReviews {
    color: white;
    font-size: 1.5rem;
    margin: 1rem 2.5rem;
}

/*///////////////////////////////////////*/


/* ACTORS CAROUSEL */

.artists-container {
    margin: 2rem 0;
}

.carousel {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 1rem;
    width: 100%;
}

.carousel > span {
    flex-shrink: 1;
    flex-basis: clamp(100px, 13vw, 250px);
}

.actor-card-info {
    color: white;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.actor-card {
    width: clamp(100px, 13vw, 250px);
    margin: 1.5rem;
    border-radius: 10px;
    transition: all ease-in-out 300ms;
}

.actor-card:hover {
    cursor: pointer;
    transform: scale(110%);
    transition: all ease-in-out 300ms;
}

.carousel-title {
    color: var(--clr-2);
    margin: 0 0.5rem;
    font-size: 3.5rem;
}

/*//////////////////////////////*/


/*    MOVIE CARD    */
.card {
    border-radius: 1rem;
    width: 30%;
    height: fit-content;
    position: relative;
    margin: 0.5rem;
}

img {
    border-radius: inherit;
}

.card::before,
.card::after {
    z-index: -1;
    content: "";
    position: absolute;
    inset: -.5rem;
    background: conic-gradient(
        from 0deg,
        var(--clr-1),
        var(--clr-2),
        var(--clr-3),
        var(--clr-2),
        var(--clr-1)
    );
    border-radius: inherit;
}

.card::after {
    filter: blur(3.5rem);
}

/*///////////////////////////////////////*/

/*TO HANDLE STAR RATINGS*/
.star {
    color: #ccc;
    font-size: 1.5rem;
}

.fullStar {
    color: gold;
}
/*//////////////////////////////*/

/*OTHERS*/
.emptyList {
    color: white;
    font-size: 1.5rem;
    margin: 1rem 0.5rem;
}

#deleteItem {
    color: white;
    font-size: 1.8rem;
}

.deleteItemContainer {
    display: flex;
    place-content: center;
}

button {
    background: indianred;
    border-radius: 8px;
    text-align: center;
    border: white 2px solid;
    width: 300px;
    height: 75px;
    margin: 2rem;
}

.error {
    color: white;
    font-size: inherit;
    margin-left: 1.5rem;
}

/*////////////////////////*/


/*FOR MOBILE*/
@media only screen and (max-width: 740px) {
    .reviews-container {
        height: 100%;
        flex-grow: 1;
    }

    .card-plus-reviews-container {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1160px) {
    #review-title {
        margin: 1rem 0 0.5rem 0;
        display: block;
    }

    .card {
        width: min(100%, 400px);
    }

    h1 {
        font-size: 2.5rem;
    }

    .info {
        font-size: 1.5rem;
    }
}
/*//////////////////////////////*/



