<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actors</title>
    <link rel="stylesheet" href="/css/lists.css"/>
</head>

<body>
    <div th:replace="fragments/header :: header"></div>

    <h1>Artisti (direttori o attori)</h1>
    <div class="emptyList" th:if="${artists.isEmpty()}">Ancora nessuna attore 😔</div>
    <ul>
        <li th:each="artist : ${artists}">
            <a th:href="@{'/artist' + '/' + ${artist.id}}"
               th:text="${artist.name} + ' ' + ${artist.surname} + ' (' + ${artist.dateOfBirth} + ')'">Pippetto</a>
        </li>
    </ul>
</body>

</html>