<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FormAddNews</title>
    <link rel="stylesheet" href="/css/form_style.css">
</head>
<body>
    <form class="container" th:action="@{/addedNews}" method="POST" th:object="${news}">
        <span th:if="${messaggioErrore}" th:text="${messaggioErrore}">Errore</span>

        <label for="titolo">Titolo:</label>
        <input id="titolo" required type="text" th:field="${news.title}" maxlength="255"/>

        <label for="testo">Contenuto:</label>
        <input id="testo" required type="text" th:field="${news.text}" maxlength="255"/>

        <button type="submit" class="bottone">Inserisci</button>
    </form>
</body>
</html>