<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>formUpdateMovies</title>
    <link rel="stylesheet" href="/form_add_style.css" type="text/css"/>
</head>
<body>
    <h1>Aggiorna Film</h1>
    <div class="info" th:text="${movie.title} + ' (' + ${movie.year} + ')'">Peppino a mare (2069)</div>
    <div><span class="info" th:text="'Regista:  ' + ${movie.director.name} + ' ' + ${movie.director.surname} +  ' (' + ${director.dateOfBirth} + ')    '">Regista: Peppino </span><a th:href="@{'/directorsToAdd' + '/' + ${movie.id}}">Cambia regista</a></div>
    <div class="info">Attori: <a th:href="@{'/allActorsForMovie' + '/' + ${movie.id}}"><em>Modifica</em></a></div>
</body>
</html>