<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>FormSearchMovies</title>
  <link rel="stylesheet" href="/css/form_style.css" type="text/css"/>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <h1>Cerca Film</h1>
    <form class="container" th:action="@{/searchMovies}" method="POST">
        <label id="labelCercaAnno" for="inputCercaAnno" >Inserisci l'anno di uscita del film:</label>
        <input required type="text" id="inputCercaAnno" name="year" maxlength="255"/><br>

        <button id="bottoneCercaAnno" class="bottone" type="submit">Cerca</button>
    </form>
</body>
</html>