<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LoginPage</title>
</head>
<body>
    <header>
        <div th:if="${#request.userPrincipal}">
            <span th:text="${#request.userPrincipal.principal.username}"></span>
            <a href="/logout">Logout</a>
        </div>
        <div th:unless="${#request.userPrincipal}">
            <a href="/login">Login</a>
        </div>
    </header>

    <h1>Login</h1>
    <form th:action="@{/login}" method="POST">
        <label for="username">Username: </label>
        <input id="username" required type="text"/><br>

        <label for="password">Password: </label>
        <input id="password" required type="password"/><br>

        <div class="errorMessage" th:if="${param.error != null}">Username o password errati</div>

        <button type="submit" class="bottone">Login</button><br>
    </form>
    <div><a th:href="@{/register}">Registrati</a></div>
</body>
</html>