<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>FoundMovies</title>
    <link rel="stylesheet" href="/css/lists.css">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="emptyList" th:if="${movies.isEmpty()}">Non ci sono film di quell'anno</div>
    <ul>
        <li th:each="movie : ${movies}">
            <a th:href="@{'/movies' + '/' + ${movie.id}}"
               th:text="${movie.title} + ' (' + ${movie.year} + ')'">Up! (2000)</a>
        </li>
    </ul>
</body>
</html>