<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OperazioniMovies</title>
    <link rel="stylesheet" href="/index_style.css"/>
</head>
<body>
    <div class="container">
        <div class="logo"><a href="/"><img src="https://seeklogo.com/images/C/cinema-logo-53411DFFE5-seeklogo.com.png" alt="logo"/></a></div>
        <div class="wrapperbox">
            <h1>Operazioni:</h1>
            <div class="container-operazioni" >
                <div class="operazione"><a href="/operazioniMovies">Operazioni Film</a></div>
            </div>
        </div>
    </div>
</body>
</html>