<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>OperazioniMovies</title>
    <link rel="stylesheet" href="/css/index_style.css"/>
    <script src="/js/indexSearch.js"></script>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <div class="logo-container">
            <div class="logo"><a href="/"><img src="/upload/images/logo-siw.png" alt="logo"/></a></div>
            <p>Benvenuto nel database del corso di siw<br>Scopri di tutto su film e artisti!</p>
        </div>

        <!--FILM-->
        <div class="movies-container">
            <span class="carousel-header">
                <span class="carousel-title">Film</span>
                <input type="text" th:unless="${movies.isEmpty()}" placeholder="Cerca per titolo..."
                       class="searchInput" id="movieSearchInput" oninput="filterMoviesBasedOnSearchText()">
                <span th:if="${userIsAdmin}">
                    <a class="addElement" href="/admin/formNewMovie">Aggiungi film</a>
                </span>
            </span>
            <div class="emptyList" th:if="${movies.isEmpty()}">Non c'è ancora nessun film</div>
            <div class="carousel" id="movie-carousel" th:unless="${movies.isEmpty()}">
                <span th:each="movie : ${movies}" th:data-title="${movie.title}">
                    <a th:href="@{'/movies/' + ${movie.id}}">
                        <img class="card" width="100%" th:src="'/upload/images/moviesImages/' + ${movie.imageFileName}" alt="image"/>
                    </a>
                    <span class="card-info" th:text="${movie.title}">Movie</span><br>
                    <span class="card-info" id="movie-year" th:text="${movie.year}">1990</span>
                </span>
            </div>
        </div>

        <!--ARTISTI-->
        <div class="artists-container">
            <span class="carousel-header">
                <span class="carousel-title">Artisti</span>
                <input type="text" th:unless="${artists.isEmpty()}" placeholder="Cerca artista..."
                       class="searchInput" id="artistSearchInput" oninput="filterArtistsBasedOnSearchText()">
                <span th:if="${userIsAdmin}"/>
                <span th:if="${userIsAdmin}">
                    <a class="addElement" href="/admin/formAddArtist">Aggiungi artista</a>
                </span>
            </span>
            <div class="emptyList" th:if="${artists.isEmpty()}">Non c'è ancora nessun artista registrato</div>
            <div class="carousel" id="artist-carousel" th:unless="${artists.isEmpty()}">
                <span th:each="artist : ${artists}" th:data-name="${artist.name}" th:data-surname="${artist.surname}">
                    <a th:href="@{'/artists/' + ${artist.id}}">
                        <img class="card" width="100%" th:src="'/upload/images/artistsImages/' + ${artist.imageFileName}" alt="image"/>
                    </a>
                    <span class="card-info" th:text="${artist.name} + ' ' + ${artist.surname}">attore pazzo</span>
                </span>
            </div>
        </div>

    </div>
<!--        <div class="wrapperbox">-->
<!--            <h1>Consulta archivio</h1>-->
<!--            <div class="container-operazioni" >-->
<!--                <div class="operazione"><a href="/movies">Elenco film</a></div>-->
<!--                <div class="operazione"><a href="/formSearchMovies">Cerca film</a></div>-->
<!--                <div class="operazione"><a href="/artists">Elenco artisti</a></div>-->
<!--            </div>-->
<!--        </div>-->
</body>
</html>