<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Movie</title>
    <link rel="stylesheet" href="/css/single.css" type="text/css"/>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
      <div th:if="${movie}" class="grid">
        <h1 th:text="${movie.title}"></h1>
        <div class="info" id="year">Anno: <span th:text="'(' + ${movie.year} + ')'">2000</span></div>
        <div th:if="${movie.director}" class="info" id="regista">Regista: <span th:text="${movie.director.name} + ' ' + ${movie.director.surname}">Pippo Pluto</span></div>
        <div th:unless="${movie.director}" class="info">Regista: non specificato</div>
        <div class="card"><img width="100%" th:src="'/upload/images/moviesImages/' + ${movie.imageFileName}" alt="image"/></div>

        <div class="newReview"><a th:href="@{'/registered/formAddReview/' + ${movie.id}}">+ Aggiungi recensione</a></div>
        <div class="reviews" th:unless="${movie.reviews.isEmpty()}">
            <ul>
                <li th:each="review : ${movie.reviews}">
                    <div class="review-container">
                        <div class="review">
                            <div id="review-title" th:text="${review.title}">Titolo</div>
                            <div id="review-text" th:text="${review.content}">Testo</div>
                            <div id="review-author" th:text="${review.author.username}">Autore</div>
                            <div id="review-date" th:text="${review.creationDate}">Data</div>
                            <a th:href="@{'/admin/deleteReview/' + ${review.id}}">Cancella recensione</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
      </div>
      <div th:unless="${movie}">Non esiste questo film (bug)</div>
    </div>
</body>
</html>