<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
  <title>Movies</title>
  <link rel="stylesheet" href="/css/lists.css">
</head>

<body>
  <div th:replace="fragments/header :: header"></div>

  <h1>Film</h1>
  <div class="emptyList" th:if="${movies.isEmpty()}">Non ci sono film nel sistema</div>
  <ul>
    <li th:each="movie : ${movies}">
      <a th:href="@{'/movies' + '/' + ${movie.id}}"
         th:text="${movie.title} + ' (' + ${movie.year} + ')'">Up! (2000)</a>
      <a id="deleteItem" th:if="${userIsAdmin}" th:href="@{'/admin/deleteMovie/' + ${movie.id}}">Cancella</a>
    </li>
  </ul>
</body>
</html>
