<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
  <title>Movies</title>
  <link rel="stylesheet" href="/lists.css">
</head>

<body>
<!-- non ho il logo <div><a href="/"><img src="/logo-siw.png" width="50%"/></a></div> -->
<h1>Film</h1>
<div id="noMovies" th:if="${movies.isEmpty()}">Non ci sono film nel sistema</div>
<ul>
  <li th:each="movie : ${movies}">
    <a th:href="@{'/movies' + '/' + ${movie.id}}"
       th:text="${movie.title} + ' (' + ${movie.year} + ')'">Up! (2000)</a>
  </li>
</ul>
</body>

</html>
