<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HomePage</title>
  <link rel="stylesheet" href="/index_style.css"/>
</head>
<body>
<div class="container">
  <div class="logo"><a href="/"><img src="https://seeklogo.com/images/C/cinema-logo-53411DFFE5-seeklogo.com.png" alt="logo"/></a></div>
  <div class="wrapperbox">
    <h1>Operazioni News:</h1>
    <div class="container-operazioni">
      <div class="operazione"><a href="/news">Mostra news</a></div>
      <div class="operazione"><a href="/formAddNews">Aggiungi news</a></div>
    </div>
  </div>
</div>
</body>
</html>