/* FOR THE HEADER */
@import '../header-fragment.css';
/*//////////////////////////////*/

/* FOR THE FOOTER */
@import 'reviews-fragment.css';
/*//////////////////////////////*/

:root {
    --clr-1: #0e4b50;
    --clr-2: #2d8f85;
    --clr-3: #a4dcd1;
}

* {
    font-family: Rockwell, sans-serif;
}

body {
    background: #0A0A0A;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.5rem;
    color: var(--clr-2);
    margin: .5rem;
}

a:link, a:visited{
    color: var(--clr-2);
    text-decoration: none;
}

a:hover{
    color: var(--clr-3);
    text-decoration: underline;
}

.info {
    font-size: 20pt;
    color: white;
    margin: .5rem;
}

#changeDirector {
    font-size: 1.5rem;
    font-style: italic;
    color: var(--clr-2);
}

#changeActors {
    color: var(--clr-1);
    margin-left: 1rem;
    font-style: italic;
    font-size: 0.5em;
    border: var(--clr-1) 3px solid;
    padding: .5rem;
    border-radius: 20px;
    background: var(--clr-2);
    display: grid;
    place-content: center;
}

#changeActors:hover, #changeDirector:hover {
    color: var(--clr-3);
    cursor: pointer;
}

/* flex for the whole content */
.container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

/* flex for the movie card plus the reviews card*/
.card-plus-content-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap: 4rem;
    margin: .5rem;
    row-gap: 2rem;
}

/* ACTORS CAROUSEL */

.artists-container {
    margin: 2rem 0;
}

.carousel {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 1rem;
    width: 100%;
}

.carousel > span {
    flex-shrink: 1;
    flex-basis: clamp(100px, 13vw, 250px);
}

.actor-movies-carousels {
    width: 67%;
}

.actor-card-info {
    color: white;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.actor-card {
    width: clamp(100px, 13vw, 250px);
    margin: 1.5rem;
    border-radius: 10px;
    transition: all ease-in-out 300ms;
}

.actor-card:hover {
    cursor: pointer;
    transform: scale(110%);
    transition: all ease-in-out 300ms;
}

.actor-movies-card-info {
    color: white;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.actor-movies-card {
    width: clamp(100px, 9vw, 200px);
    margin: 1.5rem;
    border-radius: 10px;
}

.carousel-title {
    color: var(--clr-2);
    margin: 0 0.5rem;
    font-size: 3.5rem;
    display: flex;
}

/*//////////////////////////////*/


/*    MOVIE CARD    */
.card {
    border-radius: 1rem;
    width: 33%;
    height: fit-content;
    position: relative;
    margin: 0.5rem;
}

img {
    border-radius: inherit;
}

.card::before,
.card::after {
    z-index: -1;
    content: "";
    position: absolute;
    inset: -.5rem;
    background: conic-gradient(
        from 0deg,
        var(--clr-1),
        var(--clr-2),
        var(--clr-3),
        var(--clr-2),
        var(--clr-1)
    );
    border-radius: inherit;
}

.card::after {
    filter: blur(3.5rem);
}

/*///////////////////////////////////////*/



/*TO HANDLE STAR RATINGS*/
.star {
    color: #ccc;
    font-size: 1.5rem;
}

.fullStar {
    color: gold;
}
/*//////////////////////////////*/

/*OTHERS*/
.emptyList {
    color: white;
    font-size: 1.5rem;
    margin: 1rem 0.5rem;
}

#deleteItem {
    color: white;
    font-size: 1.8rem;
}

.deleteItemContainer {
    display: flex;
    place-content: center;
}

button {
    background: indianred;
    border-radius: 8px;
    text-align: center;
    border: white 2px solid;
    width: 300px;
    height: 75px;
    margin: 2rem;
}

.error {
    color: white;
    font-size: inherit;
    margin-left: 1.5rem;
}

/*////////////////////////*/


/*FOR MOBILE*/
@media only screen and (max-width: 1160px) {
    #review-title {
        margin: 1rem 0 0.5rem 0;
        display: block;
    }

    .card {
        width: min(100%, 400px);
    }

    h1 {
        font-size: 2.5rem;
    }

    .info {
        font-size: 1.5rem;
    }

    .carousel-title {
        font-size: 2.5rem;
    }

    .actor-movies-carousels {
        width: 50%;
    }
}

@media only screen and (max-width: 740px) {
    .reviews-container {
        height: 100%;
        flex-grow: 1;
    }

    .card-plus-content-container {
        flex-wrap: wrap;
    }

    .actor-movies-carousels {
        width: 100%;
    }
}
/*//////////////////////////////*/